                                                    <tr class="">
                                                        <td align="left" class="body_text" style="font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif; color: #444444; font-size: 16px; padding: 0px; margin: 0px; font-weight: 300; line-height: 23px; text-align: left;">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td height="44" style="height: 44px; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;" class=""></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="50" class="margins" style="width: 50px; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="cut" style="min-width: 500px; height: 50px; padding: 0px; margin: 0px; line-height: 1px; font-size: 1px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>